* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(25, 25, 25);
}

.movingbar {
  transform: translateX(0px) !important;
}

.macsidebar {
  position: fixed;
  top: 9vh;
  left: 3px;
  transform: translateX(-120%);
  transition: transform 0.15s ease;
  display: flex;
  flex-direction: column;
  background-color: rgba(10, 10, 10, 0.9);
  padding-inline: 8px;
  height: 90vh;
  z-index: 10000000;
  border-radius: 5px;
  padding-block: 10px;
  overflow: auto;
}

.macsidebar img {
  width: 38px;
  margin-top: 2px;
}

.macsidebar a {
  display: block;
  transition: transform 0.2s ease;
}

.macsidebar a:hover {
  transform: scale(1.15);
}

.nav {
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-inline: 100px;
  position: sticky;
  top: 0;
  background-color: rgba(25, 25, 25, 0.9);
  gap: 10px;
  z-index: 100;
}

.nav-link {
  padding-block: 10px;
  padding-inline: 15px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  margin-block: 5px;
  position: relative;
  color: white;
  transition: background-color 0.15s;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.logo {
  margin-right: 30px;
  height: 32px;
}

.logo img {
  height: 32px;
}

.right {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
}

.profile {
  box-sizing: content-box;
  height: 32px;
  width: 32px;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  background-color: rgba(0, 0, 0, 0.4);
}

.select {
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  appearance: none;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 5px;
  text-align: center;
  margin-block: 5px;
  z-index: 100000;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
  transition: background-color 0.15s ease;
}

.select:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.caret {
  width: 10px;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

#cats {
  flex-direction: column;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(15, 15, 15, 0.8);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 33px;
  width: 100%;
  transform-origin: top;
  left: 0;
  display: flex;
  transition: transform 0.15s ease !important;
  padding-bottom: 5px;
  transform: scaleY(0);
}

#cats a {
  color: rgb(130, 130, 130);
  text-decoration: none;
  padding-block: 10px;
  font-size: 17px;
  transition: color 0.15s ease;
  font-weight: normal;
}

#cats a:hover {
  color: white;
}

/**********   Above is universal MacWeb CSS code   **********/

.wrap {
  width: 100%;
  padding-inline: 100px;
}

.hero {
  text-align: center;
  padding-block: 50px;
  color: white;
}

.hero-title {
  font-size: 40px;
  padding-bottom: 20px;
}

.hero-des {
  font-size: 20px;
  line-height: 32px;
}

.apps {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.app {
  width: 190px;
  background-color: rgb(15, 15, 15);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 20px;
  gap: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.app img {
  width: 55%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  border: 3px solid rgb(25, 25, 25);
}
